html {
  overflow-x: hidden;
}

.form-control {
  width: calc(100% - 100px); /* Ajusta el ancho de la entrada de búsqueda */
}

#indice {
  background-color: rgb(93, 92, 92);
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.contenedor-imagenes {
  height: 400px;
}

.imagenes {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.subtitulos {
  margin-left: 10%;
  margin-right: 7%;
  align-items: center;
}

.subtitulos .btn {
  white-space: nowrap; /* Evita el salto de línea */
  font-size: 14px;
}
