body {
  background-image: url("../images/ejercicio4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  margin-left: 12%;
  height: 100%;
  width: 25%;
  opacity: 90%;
  transform: skewX(10deg);
  overflow: hidden;
}

.header-p {
  margin: 25px;
  padding: 10px;
  transform: skewX(-10deg);
  font-size: 250%;
  font-weight: bolder;
}

.body-p {
  margin: 10px;
  padding: 20px;
  transform: skewX(-10deg);
}

.icons {
  transform: skewX(-10deg);
  margin: 5px;
  padding: 10px;
}
